.level0 {
  position: relative;
  fill: none;   
  display: block;
  left: 0px;
}
.auditorium {
  fill: #adb136;      
}
.auditorium:hover {
  fill: #949905;
  opacity: 1;
}
.st0 {
  clip-path:url(#SVGID_2_);
}
.st1 {
  clip-path:url(#SVGID_4_);
  fill: none;
}
.cls-1,.cls-2{
  fill:none;
}
.cls-2,.cls-5{
  clip-path:url(#clip-path);
}
.cls-3{
  clip-path:url(#clip-path-5);
}
.cls-4{
  isolation:isolate;
}