<ion-header>
  <ion-toolbar>
    <ion-title>multi-room-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="form-group">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name" class="font-weight-bold">Nombre de la sala</label>
          <p type="text" id="width">{{multiRoom.nomenclature}}</p>
        </div>
        <div class="form-group col-md-6">
          <label for="kindroom" class="font-weight-bold">Tipo de espacio</label>
          <p type="text" id="kindroom">{{multiRoomInfo.kindRoom}}</p>
        </div>
      </div>
      <div class="form-row" id="details">
        <div class="form-group col-md-6">
          <label for="width" class="font-weight-bold">Ancho</label>
          <p type="text" id="width">{{multiRoom.details.width}}</p>
        </div>
        <div class="form-group col-md-6">
          <label for="height" class="font-weight-bold">Largo</label>
          <p type="text" id="height" >{{multiRoom.details.height}}</p>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="capacity" class="font-weight-bold">Capacidad Máxima</label>
          <p type="text" id="capacity">{{multiRoom.capacity}}</p>
        </div>
        <div class="form-group col-md-6">
          <label for="day-price" class="font-weight-bold">Precio por día</label>
          <p type="text" id="day-price">{{multiRoom.hourPrice}}</p>
        </div>
      </div>
      <div class="form-group col-md-10">
        <label for="description" class="font-weight-bold">Descripción de la sala</label>
        <p id="description">{{multiRoom.description}}</p>
      </div>
      <div class="col-md-5 ml-5">
        <input class="btn btn-primary" type="button" (click)="onBooking()" value="Reservar">
      </div>
    </div>
</ion-content>
